{% extends 'base.html' %}

{% block header %}
  <h2 class="text-slate-700 my-2">{% block title %}Cambie su contraseña{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post" action="{{ url_for('auth.confirm')}}" class="px-4">
    <label for="password">Escriba su nueva contraseña</label>
    <input type="password" name="password" id="password" class="rounded-md mb-2" required>
    <label for="password1">Confirme su nueva contraseña</label>
    <input type="password" name="password1" id="password1" class="rounded-md mb-6" required>
    <input type="hidden" id="authid" name="authid" value={{number}}>
    <input type="submit" value="Cambiar contraseña" class="w-full bg-gray-900 text-white rounded-md py-2 cursor-pointer">
  </form>
   
{% endblock %}